[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = release-3.2.x
[submodule "external/SDL_image"]
	path = external/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
	branch = release-3.2.x
[submodule "external/SDL_ttf"]
	path = external/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
	branch = release-3.2.x
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
	branch = stable
[submodule "external/entt"]
	path = external/entt
	url = https://github.com/skypjack/entt
	branch = v3.13.x
[submodule "external/laya"]
	path = external/laya
	url = https://github.com/radicazz/laya
